---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Page3 from "../components/Page3.astro";
import Page2 from "../components/Page2.astro";
import Page22 from "../components/Page22.astro";
import Page5 from "../components/Page5.astro";
import Layout from "../layouts/Layout.astro";
import "../css/global.css";
import PageFour from "../components/PageFour.astro";
import Page6 from "../components/Page6.astro";
---

<Layout title="Our Common Ground">
  <LandingHeader />
  <main data-router-wrapper>
    <div data-router-view="herosection">
      <HeroSection id="herosection" />
    </div>
    <div data-router-view="page2">
      <Page2 id="page2" />
    </div>
    <div data-router-view="page22">
      <Page22 id="page22" />
    </div>
    <div data-router-view="page3">
      <Page3 id="page3" />
    </div>
    <div data-router-view="PageFour">
      <PageFour id="PageFour" />
    </div>
    <div data-router-view="page5">
      <Page5 id="page5" />
    </div>
    <div data-router-view="page6">
      <Page6 id="page6" />
    </div>
  </main>
</Layout>
