---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Page2 from "../components/Page2.astro";
import Page3 from "../components/Page3.astro";
import Page4 from "../components/Page4.astro";
import Page5 from "../components/Page5.astro";
import Layout from "../layouts/Layout.astro";
import "../css/global.css";
---

<Layout title="Our Common Ground">
  <LandingHeader />
  <script>
    function sectionObserver() {
      return {
        init() {
          const sections = document.querySelectorAll('[x-ref]');
          const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
              if (entry.isIntersecting) {
                console.log(`${entry.target.getAttribute('x-ref')} is in view`);
              }
            });
          });

          sections.forEach(section => {
            observer.observe(section);
          });
        }
      };
    }

    function counting() {
      return {
        currentValue: 0,
        endValue: 100,
        init() {
          // your counting logic here
        },
        toggleCounting() {
          // toggle logic
        },
        resetCounter() {
          // reset counter logic
        }
      };
    }

    window.startTitleAnimation = function() {
      console.log('startTitleAnimation called');
    };
    window.startCounterAnimation = function() {
      console.log('startCounterAnimation called');
    };
    window.stopTitleAnimation = function() {
      console.log('stopTitleAnimation called');
    };
  </script>
  <main x-data="sectionObserver()" x-init="init()" data-scroll-container class="relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth snap-y snap-mandatory">
    <div x-data="{ inView: false }" x-intersect="inView = true; startTitleAnimation()" x-intersect-leave="inView = false; stopTitleAnimation()" class="hero-section">
      <HeroSection />
    </div>
    <div x-data="counting()" x-init="init()" @click="toggleCounting()" class="counter-section">
      <span x-text="currentValue" x-ref="counter"></span>
      <span x-show="currentValue==endValue" @click="resetCounter">Reset</span>
      <Page2 />
    </div>
    <div x-data="{ inView: false }" x-ref="page3" x-intersect.half="inView = true" x-transition>
      <Page3 />
    </div>
    <div x-data="{ inView: false }" x-ref="page4" x-intersect.half="inView = true" x-transition>
      <Page4 />
    </div>
    <div x-data="{ inView: false }" x-ref="page5" x-intersect.half="inView = true" x-transition>
      <Page5 />
    </div>    
  </main>
</Layout>
