---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Page3 from "../components/Page3.astro";
import Page2 from "../components/Page2.astro";
import Page4 from "../components/Page4.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Common Ground">
  <LandingHeader />

  <main data-scroll-container
    class="relative w-full h-screen overflow-y-auto overflow-x-hidden "
  >
  <div data-scroll-section>
    <HeroSection />
  </div>
  <div data-scroll-section>
    <Page2 />
  </div>
  <div data-scroll-section>
    <Page3 />
  </div>
  <div data-scroll-section>
    <Page4 />
  </div>
</Layout>
