---
import HeroSection from "../components/HeroSection.astro";
import Introduction1 from "../components/introduction1.astro";
import Thebuilding from "../components/thebuilding.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Page3 from "../components/Page3.astro";
import Process from "../components/Process.astro";
import Page2 from "../components/Page2.astro";
import Page22 from "../components/Page22.astro";
import Page5 from "../components/Page5.astro";
import Layout from "../layouts/Layout.astro";
import Page4 from "../components/Page4.astro";
import Page6 from "../components/Page6.astro";
import Process2 from "../components/Process2.astro";
import Process3 from "../components/Process3.astro";
import Process4 from "../components/Process4.astro";
import Process5 from "../components/Process5.astro";
---

<Layout title="Our Common Ground">
  <LandingHeader />
  <main data-router-wrapper>
    <div data-router-view="herosection">
      <HeroSection id="herosection" />
    </div>
    <div data-router-view="introduction1">
      <Introduction1 id="introduction1" />
    </div>
    <div data-router-view="thebuilding">
      <Thebuilding id="thebuilding" />
    </div>
    <div data-router-view="page2">
      <Page2 id="page2" />
    </div>
    <div data-router-view="page22">
      <Page22 id="page22" />
    </div>
    <div data-router-view="page3">
      <Page3 id="page3" />
    </div>
    <div data-router-view="page4">
      <Page4 id="page4" />
    </div>
    <div data-router-view="process">
      <Process id="Process" />
    </div>
    <div data-router-view="process2">
      <Process2 id="Process2" />
    </div>
    <div data-router-view="process3">
      <Process3 id="Process3" />
    </div>
    <div data-router-view="process4">
      <Process4 id="Process4" />
    </div>
    <div data-router-view="process5">
      <Process5 id="Process5" />
    </div>
    <div data-router-view="page5">
      <Page5 id="page5" />
    </div>
    <div data-router-view="page6">
      <Page6 id="page6" />
    </div>
  </main>
</Layout>
