---
import Section from "./AboutSectionOne.astro";
---

<Section
  id="page6"
  title=""
  subtitle=""
  color="white"
>

<div slot="content" class="timeline__content">
  <div class="programme ">  <img src="/OCG_programme.png" alt="">
  </div>
</div>
  <div slot="logos" class="img-grid absolute bottom-0">
    <a href="https://www.arvsfonden.se/" target="_blank" rel="noopener noreferrer">
      <img src="allmanna-arvsfonden-1.png" alt="Logo 1" class="logo-item">
    </a>
    <a href="https://www.communityartlabsweden.se/produktion/our-common-ground/" target="_blank" rel="noopener noreferrer">
      <img src="cals-logo.png" alt="cals logo" class="logo-item">
    </a>
    
    <p class="logo-item text-logo"> <span style="font-size: 9px;"><a href="http://www.oxoy-studio.com" target="_blank" rel="noopener">website by ox-oy studio</a></span>
    </p>
  </div>

</Section>

<style>


.timeline__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  z-index: 1;
  padding-bottom: 1rem;

}

  .programme {
    width: 50%;
}
  
 .img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 10px; /* Gap between items */
  justify-items: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontally centers the entire grid */
  width: 100%;
  margin-bottom: 40px;
}
.img-grid a {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.fade-in-image {
  height: 100%;
}


.logo-item {
  position: relative;
  width: 25%;
  height: auto;
  object-fit: cover;
}


  .text-logo {
    font-size: 9px;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    z-index: 1;
    white-space: nowrap
  }

  .credits {
  font-size: 11px;
  text-align: center; /* Aligns the text to the center */
  width: 20%;
  margin: 0 auto; /* Centers the block element */
  color: white;
  margin-bottom: 100px;
  margin-top: 50px;
  line-height: 1.8;
}

</style>
