---
import Section from "./Section-landing.astro"
---

<Section>
  <div class="herosection">
    <h2 slot="counter-slot" id="counter" class="main-title">1983</h2>
  </div>
</Section>

<style>
  .main-title {
      font-size: 3rem;
      font-weight: bold;
      color: rgb(255, 255, 255);
      margin-right: 20%;
      margin-left: 20%;
      position: relative; 
      text-align: center; 
  }
</style>
