---
import ParticlesComponent from "./ParticlesComponent.astro";
import Section from "./Section-landing.astro"
---

<Section id="herosection" color="white">
  <ParticlesComponent slot="particles"/>
  <div x-data="{ 
        text: '', 
        textArray: ['Our', 'Common', 'Ground'], 
        textIndex: 0, 
        charIndex: 0, 
        typeSpeed: 700 
      }"
       x-init="setInterval(function(){ 
                  $data.text = $data.textArray[$data.textIndex]; 
                  $data.textIndex = ($data.textIndex + 1) % $data.textArray.length; 
                }, $data.typeSpeed);"
       class="text-container mx-auto text-center"
       slot="animated-text">
    <h1 class="main-title" x-text="text"></h1>
  </div>
</Section>


<style>

  .herosection {
    position: relative;  /* or you could use absolute depending on your layout needs */
  }

  .text-container {
 
}

.main-title {
  font-size: 7rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  z-index: 1;
}


  .particles-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

</style>
