---
import Section from "./Section.astro"
---

<Section
  title="OUR COMMOND GROUND"
  subtitle="Sommaren 2021 arbetade CKC med en grupp unga praktikanter från Malmö, och upptäckte verktyg tillsammans för att utttrycka sig genom performancekonst."
  color="white"
>
    <img
    slot="background"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    src="bg-2.webp"
  
  />
</Section>
