---
import Section from "./section-landing-bg-2.astro"
---

<Section id="introduction1" color="white">
  <div x-data="{ 
        text: '', 
        fullText: 'Föreställningen ägde rum i Malmös Ungdomens Hus, tidigare känt som Folkets Hus, vilket inspirerade gruppen att utforska byggnadens historia som ett sätt att förstå ungdomens natur genom tiderna.', 
        charIndex: 0, 
        typeSpeed: 30,
        intervalId: null,
        observer: null
      }" 
      x-init="observer = new IntersectionObserver((entries) => {
                  entries.forEach(entry => {
                    if(entry.isIntersecting) {
                      intervalId = setInterval(function(){ 
                        if(charIndex < fullText.length) {
                          text += fullText.charAt(charIndex);
                          charIndex++;
                        }
                        document.getElementById('animated-text1').innerHTML = text;
                      }, typeSpeed);
                    } else {
                      clearInterval(intervalId);
                      text = '';
                      charIndex = 0;
                    }
                  });
                }, { threshold: 1 });
                observer.observe($el);"
      id="text-container"
      class="text-container text-left flex flex-col items-start" 
      slot="animated-text1">
    <h1 id="animated-text1" class="main-title mb-4"></h1>
  </div>
</Section>


<style>
  .main-title {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  #animated-text {
  width: 200px;  /* Default width for mobile devices */
  
  /* background-color: rgb(171, 168, 168); */
}

@media (min-width: 768px) {
  #animated-text1 {
    width: 500px;  /* Width for screens larger than 768px */
    font-size: 13px;
    font-weight: 500;
  }
}

</style>
