---
---
<header
  id="landing-header"
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-20 text-white opacity-0 transition-opacity duration-500"
  x-data="{ isVisible: false }"
  x-init="setTimeout(() => { isVisible = true }, 2000)"
  x-bind:class="{ 'opacity-100': isVisible }"
>
<nav class="flex flex-grow justify-start basis-0">
  <ul class="flex text-sm">
    <li><a href="javascript:void(0);" onclick="window.scrollToSection('Home')">Our Common Ground</a></li>
  </ul>
</nav>

  <nav class="hidden xl:block sm:hidden">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
    </ul>
  </nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
    <li><a href="javascript:void(0);" onclick="window.scrollToAbout()">About</a></li>
  </ul>
  </nav>
</header>

<style>
  .transition-opacity {
  transition: opacity 0.6s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

</style>

<script>
  window.scrollToSection = function(sectionId) {
    const element = document.querySelector(`#${sectionId}`);
    if(element) {
      element.scrollIntoView({ behavior: "smooth" });
    }
  }

  window.scrollToAbout = function() {
    const aboutElement = document.querySelector('[data-router-view="about"]');
    if(aboutElement) {
      aboutElement.scrollIntoView({ behavior: "smooth" });
    }
  }
</script>
