---
import Section from "./Section.astro";
---

<Section
  title=""
  subtitle=""
  color="white"
  id="page3"
>


  <!-- <img
    slot="background"
    alt="Model 3"
    class="h-full w-full object-cover object-center"
    src="bg-4.webp"
    id="bg-image-model3"
  /> -->
</Section>
