---
import Section from "./Section.astro";
---

<Section
  title="Section 3"
  subtitle=""
  color="white"
  id="page3"
>

<div slot="content" class="text-slate-100">
</div>
<img
slot="background"
alt="Model 3"
class="h-full w-full object-cover object-center"
src="bg-4.webp"
id="bg-image-model3"
/>


</Section>
