---
import Section from "./Section.astro";
---

<Section
  title="The end"
  subtitle=""
  color="white"
  id="page4"
  showFooterContent="true"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-white bg-black text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors duration-300 hover:border-gray-800 hover:bg-gray-800"
      href="#"
    >
      back to the beginning</a
    >

  </div>

  <div
    slot="background"
    class="h-full w-full bg-black"
  ></div>
</Section>
