---
import Section from "./Section.astro";
---

<section
x-data="{ inView: false }"
x-init="() => {
  const observer = new IntersectionObserver(([entry]) => {
    inView = entry.isIntersecting;
  }, { threshold: 0.1 });

  observer.observe($el);
}"
class="page22 bg-black h-screen w-screen text-center overflow-hidden relative"
>
<div slot="animated-text">
  <h1 id="animatedtext" class="main-title"></h1>
  <h1 id="timeline__years" class="main-title"></h1>
</div>
<div class="timeline__content page22" slot="timeline__content">
  <div class="content__img">
    <img x-bind:class="{ 'fade-in': inView }" src="frank-2.jpg" alt="Description" class="fade-in-image">
    <p class="content__text">Frank Sinatra sjöng där en kall natt 1953.

    </p>
  </div>
</div>
</section>

<style>

.timeline__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  /* Add this line */
  min-height: 100vh;
  z-index: 1;
}

.content__img {
  width: 60%;
}

  .content__text {
    font: 1rem;
    padding-top: 1rem;
    color: rgb(255, 255, 255);
  }

  .main-title {
    font-size: 7rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: 51;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fade-in-image {
    opacity: 0;
    transition: opacity 3.5s ease-in-out;
    max-width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) { /* Assuming 768px is 'md' breakpoint */
    max-width: 100%;
   
    }
  }

.fade-in {
  opacity: 1 !important;
}

  </style>
