---
import Section from "./Section.astro";
---

<section
  x-data="{ inView: false }"
  x-init="() => {
    const observer = new IntersectionObserver(([entry]) => {
      inView = entry.isIntersecting;
    }, { threshold: 0.1 });

    observer.observe($el);
  }"
  class=" bg-black h-screen w-screen text-center overflow-hidden relative"
>
  <div slot="animated-text">
    <h1 id="animatedtext" class="main-title"></h1>
    <h1 id="timeline__years" class="main-title" client:style="display: block;"></h1>
  </div>
  <div class="timeline__content page4" data-end-year="1893" slot="timeline__content">
    <div class="content">
      <img x-bind:class="{ 'fade-in': inView }" src="students-1.png" alt="Description" class="fade-in-image">
      <img x-bind:class="{ 'fade-in': inView }" src="folketshus_2.jpg" alt="Description" class="fade-in-image">
    </div>
    <p class="content__text">It was the perfect setting to talk about the need for young people to claim their space in society.
    </p>
  </div>
</section>

<style>
  .timeline__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .fade-in-image {
    width: auto;  /* Changed from 20% to auto */
    height: 400px; /* Fixed height */
    object-fit: cover;  /* Keep aspect ratio */
    opacity: 0;
    transition: opacity 3.5s ease-in-out;
    margin: 0 10px;  /* Add horizontal margins */

  }
  

  .fade-in {
    opacity: 1 !important;
  }

  .content__text {
    font-size: 1rem;
    padding-top: 1rem;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
  }

  .main-title {
    font-size: 7rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: 51;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
