---
import Section from "./Section.astro";
---

<Section
  title=""
  subtitle=""
  color="white"
  id="page5"
>
  <img src="Glasses2.png" slot="images" x-bind:class="{ 'img-large': inView, 'img-small': !inView }" />
  <img src="HandfreePouch.png" slot="images" x-bind:class="{ 'img-large': inView, 'img-small': !inView }" />
  <img src="PaperClips.png" slot="images" x-bind:class="{ 'img-large': inView, 'img-small': !inView }" />
  <img src="Notebook-2.png" slot="images" x-bind:class="{ 'img-large': inView, 'img-small': !inView }" />
  <img src="Colacan.png" slot="images" x-bind:class="{ 'img-large': inView, 'img-small': !inView }" />
  <img src="Watch-2.png" slot="images" x-bind:class="{ 'img-large': inView, 'img-small': !inView }" />
</Section>

<style>
  .img-small {
    width: 10%;
    transition: width 0.9s ease;
  }
  .img-large {
    width: 40%;
    transition: width 0.9s ease;
  }
</style>
