---
import Section from "./Section-landing.astro"
---

<Section id="process3" color="white">
  <div x-data="{ 
        text: '', 
        fullText: 'Which resulted in a site-specific performance piece about youth, Malmö and controlling your own story. The culminating performances at Malmös Ungdomens Hus, along with this digital adaptation, reflect a kind of living archive which, like any archive, can never be complete. It can never adequately represent the lives that it documents. In this way, Our Common Ground asserts that in order to understand people’s truths, we must first let them speak for themselves.', 
        charIndex: 0, 
        typeSpeed: 45,
        intervalId: null,
        observer: null
      }" 
      x-init="observer = new IntersectionObserver((entries) => {
                  entries.forEach(entry => {
                    if(entry.isIntersecting) {
                      intervalId = setInterval(function(){ 
                        if($data.charIndex < $data.fullText.length) {
                          $data.text += $data.fullText.charAt($data.charIndex);
                          $data.charIndex++;
                        }
                        document.getElementById('animated-text4').innerHTML = $data.text;
                      }, $data.typeSpeed);
                    } else {
                      clearInterval(intervalId);
                      $data.text = '';
                      $data.charIndex = 0;
                    }
                  });
                }, { threshold: 1 });
                observer.observe($el);"
      id="text-container"
      class="text-container text-left"
      slot="animated-text4">
    <h1 id="animated-text4" class="main-title"></h1>
  </div>
</Section>

<style>
  .main-title {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  #animated-text4 {
    width: 700px;
  }
</style>
