---
import Section from "./section-landing-bg-5.astro"
---

<Section id="process2" color="white">
  <div x-data="{ 
        text: '', 
        fullText: 'Under många veckor samlade de unga CKC-praktikanterna och deras mentorer ihop en text bestående av funnet material, fältintervjuer och deras egna reflektioner.', 
        charIndex: 0, 
        typeSpeed: 35,
        intervalId: null,
        observer: null
      }" 
      x-init="observer = new IntersectionObserver((entries) => {
                  entries.forEach(entry => {
                    if(entry.isIntersecting) {
                      intervalId = setInterval(function(){ 
                        if($data.charIndex < $data.fullText.length) {
                          $data.text += $data.fullText.charAt($data.charIndex);
                          $data.charIndex++;
                        }
                        document.getElementById('animated-text3').innerHTML = $data.text;
                      }, $data.typeSpeed);
                    } else {
                      clearInterval(intervalId);
                      $data.text = '';
                      $data.charIndex = 0;
                    }
                  });
                }, { threshold: 1 });
                observer.observe($el);"
      id="text-container"
      class="text-container text-left"
      slot="animated-text3">
    <h1 id="animated-text3" class="main-title"></h1>
  </div>
</Section>

<style>
  .main-title {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  #animated-text3 {
  width: 200px;  /* Default width for mobile devices */
}

@media (min-width: 768px) {
  #animated-text3 {
    width: 500px;  /* Width for screens larger than 768px */
    font-size: 13px;
    font-weight: 500;
  }
}
</style>
