---
import Section from "./section-landing-bg-4.astro"

---
<Section class="home-4" id="process" color="white">
  <div 
  slot="animated-text-2">
    <h1 id="animated-text-2" class="main-title-2">Processen
    </h1>
  </div>
</Section>




<style>


  .main-title-2 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

#animated-text-2 {
  width: 500px;
  
}

</style>
