---
import Section from "./Section-landing.astro"
---

<Section id="thebuilding" color="white" class="bg-black">
  <div 
  slot="animated-text-2">
    <h1 id="animated-text-2" class="main-title-2">The building & history
    </h1>
    <!-- <img src="pencil.png" class="pencil" alt="a pencil"> -->
  </div>
</Section>




<style>
  .main-title-2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  }

  #animated-text-2 {
    width: 500px;
  }

.pencil {
  position: absolute;
  top: 50%;
}  

</style>
