main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;  /* Using 100vh instead of auto */
}

[data-router-view] {
  height: 100vh;  /* Set a defined height */
  scroll-snap-align: center;
}
